*.elc
*.pyc
*~
\#*
.#*
.dap-breakpoints
.cache/
.extension
.local
.lsp-session-*
.python-version
.yas-compiled-snippets.el
/elpy/
/image-dired/
__pycache__
ac-comphist.dat
auto-save-list/
bookmarks
cmake-ide-build-dir.save
cmany.save
ede-projects.el
eshell/
eln-cache/
forge-database.sqlite
history
ido.last
local.el
local/
org-clock-save.el
persp-confs/
projectile-bookmarks.eld
projectile.cache
recentf
scratch-persist/*.txt
semanticdb/
server
session.*
smex-items
srecode-map.el
tmp/
tramp
transient/
url/
elpa/*/*.so
/local.sds.gitlab.el
