*.elc
ac-comphist.dat
auto-save-list/
ede-projects.el
persp-confs/
semanticdb/
tramp
__pycache__
ido.last
*.pyc
projectile-bookmarks.eld
cmake-ide-build-dir.save
cmany.save
*~
smex-items
projectile.cache
bookmarks
