\#*
*.elc
*.pyc
*~
\#*
.#*
.lsp-session-*
.python-version
.yas-compiled-snippets.el
.cache/
__pycache__
ac-comphist.dat
auto-save-list/
bookmarks
cmake-ide-build-dir.save
cmany.save
ede-projects.el
/elpy/
eshell/
history
ido.last
/image-dired/
.local
local.el
local/
org-clock-save.el
persp-confs/
projectile-bookmarks.eld
projectile.cache
recentf
scratch-persist/*.txt
semanticdb/
server
session.*
srecode-map.el
smex-items
tramp
transient/
tmp/
url/
